#define ZMK_POINTING_DEFAULT_MOVE_VAL 180   // 85% slower (15% of original 1200)
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

// Removed: #include <zmk/input/processors.dtsi> - file not found in this ZMK version
// Testing if zip_xy_scaler and zip_scroll_scaler are available without the include
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/modifiers.h>

// Commented out - mmv_input_listener and msc_input_listener not defined in this ZMK version
// These were defined in input/processors.dtsi which is not available
// &mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
// &msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

// Commented out - &msc node depends on pointing behaviors not available in this ZMK version
// Keeping this enabled causes: undefined node label 'msc' during devicetree processing
// &msc {
//     acceleration-exponent = <1>;      // 0
//     time-to-max-speed-ms = <100>;       // 300
//     delay-ms = <0>;                   // 0
// };

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    macros {
    };

    behaviors {
        five_rights: five_rights {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;      // Delay between key presses in ms
            tap-ms = <30>;       // How long each key is held down in ms
            bindings = <&kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW &kp RIGHT_ARROW>;
        };

        five_downs: five_downs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW &kp DOWN_ARROW>;
        };

        five_ups: five_ups {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp UP_ARROW &kp UP_ARROW &kp UP_ARROW &kp UP_ARROW &kp UP_ARROW>;
        };

        five_lefts: five_lefts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW &kp LEFT_ARROW>;
        };

        ctrl_five_rights: ctrl_five_rights {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_tap &kp RIGHT_ARROW>,
                <&macro_release &kp LCTRL>;
        };

        ctrl_five_lefts: ctrl_five_lefts {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_tap &kp LEFT_ARROW>,
                <&macro_release &kp LCTRL>;
        };

        win_z_4: win_z_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <500>;
            tap-ms = <50>;
            bindings = <&kp ESC &kp LG(Z) &macro_wait_time 1000 &kp N4 &kp ENTER>;
        };

        win_z_5: win_z_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <500>;
            tap-ms = <50>;
            bindings = <&kp ESC &kp LG(Z) &macro_wait_time 1000 &kp N5 &kp ENTER>;
        };

        win_z_6: win_z_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <500>;
            tap-ms = <50>;
            bindings = <&kp ESC &kp LG(Z) &macro_wait_time 1000 &kp N6 &kp ENTER>;
        };

        win_z_7: win_z_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <500>;
            tap-ms = <50>;
            bindings = <&kp ESC &kp LG(Z) &macro_wait_time 1000 &kp N7 &kp ENTER>;
        };

        win_z_8: win_z_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <500>;
            tap-ms = <50>;
            bindings = <&kp ESC &kp LG(Z) &macro_wait_time 1000 &kp N8 &kp ENTER>;
        };

        win_alt_shift_comma: win_alt_shift_comma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LG(LA(LS(COMMA)))>;
        };

        win_alt_shift_n: win_alt_shift_n {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LG(LA(LS(N)))>;
        };

        ctrl_shift_home_del: ctrl_shift_home_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LC(LS(HOME)) &kp DELETE>;
        };

        ctrl_shift_end_del: ctrl_shift_end_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LC(LS(END)) &kp DELETE>;
        };

        shift_home_del: shift_home_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LS(HOME) &kp DELETE>;
        };

        shift_end_del: shift_end_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&kp LS(END) &kp DELETE>;
        };

        select_all_copy: select_all_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "SACPY";
            wait-ms = <20>;
            tap-ms = <20>;
            bindings = <&kp LC(A) &kp LC(C)>;
        };

        select_all_cut: select_all_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "SAX";
            wait-ms = <20>;
            tap-ms = <20>;
            bindings = <&kp LC(A) &kp LC(X)>;
        };

        select_all_del: select_all_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "SADEL";
            wait-ms = <20>;
            tap-ms = <20>;
            bindings = <&kp LC(A) &kp DELETE>;
        };

        /* Mod-morph versions of the 5× arrow macros.
         * No Ctrl held  → 5× LEFT/RIGHT
         * Ctrl held     → Ctrl+5× LEFT/RIGHT
         */

        morph_left: morph_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&five_lefts>, <&five_lefts>;
            mods = <(MOD_LCTL | MOD_RCTL)>;
            keep-mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        morph_right: morph_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&five_rights>, <&five_rights>;
            mods = <(MOD_LCTL | MOD_RCTL)>;
            keep-mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        morph_up: morph_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&five_ups>, <&kp C_NEXT>;
            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        morph_down: morph_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&five_downs>, <&kp C_PREV>;
            mods = <(MOD_LCTL | MOD_RCTL)>;
        };

        prev_win: prev_win {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                label = "PREV_WIN";
                bindings = <&kp LA(TAB)>;
            };
    
        second_prev_win: second_prev_win {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                label = "SEC_PREV_WIN";
                wait-ms = <30>;
                tap-ms = <30>;
                bindings =
                    <&macro_press &kp LALT>,
                    <&macro_tap &kp TAB>,
                    <&macro_tap &kp TAB>,
                    <&macro_release &kp LALT>;
        };

        meh_press: meh_press {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL
                        &macro_press &kp LALT
                        &macro_press &kp LSHIFT>;
        };

        caw_press: caw_press {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL
                        &macro_press &kp LALT
                        &macro_press &kp LGUI>;
        };

        meh_release: meh_release {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release &kp LCTRL
                        &macro_release &kp LALT
                        &macro_release &kp LSHIFT>;
        };

        caw_release: caw_release {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_release &kp LCTRL
                        &macro_release &kp LALT
                        &macro_release &kp LGUI>;
        };

        meh_a: meh_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "MEH_A";
            bindings = <&meh_press &macro_tap &kp A &meh_release>;
        };

        meh_s: meh_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "MEH_S";
            bindings = <&meh_press &macro_tap &kp S &meh_release>;
        };

        meh_d: meh_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "MEH_D";
            bindings = <&meh_press &macro_tap &kp D &meh_release>;
        };

        meh_f: meh_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "MEH_F";
            bindings = <&meh_press &macro_tap &kp F &meh_release>;
        };

        caw_a: caw_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_A";
            bindings = <&caw_press &macro_tap &kp A &caw_release>;
        };

        caw_s: caw_s {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_S";
            bindings = <&caw_press &macro_tap &kp S &caw_release>;
        };

        caw_d: caw_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_D";
            bindings = <&caw_press &macro_tap &kp D &caw_release>;
        };

        caw_f: caw_f {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_F";
            bindings = <&caw_press &macro_tap &kp F &caw_release>;
        };

        caw_q: caw_q {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_Q";
            bindings = <&caw_press &macro_tap &kp Q &caw_release>;
        };

        caw_w: caw_w {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_W";
            bindings = <&caw_press &macro_tap &kp W &caw_release>;
        };

        caw_e: caw_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_E";
            bindings = <&caw_press &macro_tap &kp E &caw_release>;
        };

        caw_r: caw_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "CAW_R";
            bindings = <&caw_press &macro_tap &kp R &caw_release>;
        };

        // Tap-dance for 1 tap = N0, 2 taps = J
        td_n7_l: tap_dance_n7_l {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LG(LA(LS(N0)))>, <&kp LG(LA(LS(J)))>;
        };

        // Hold-tap: hold = N7, tap = tap-dance (1 tap = N0, 2 taps = J)
        ht_n0_td: hold_tap_n0_td {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td_n7_l>;
        };

        // Tap-dance: 1× Alt+Shift+Q, 2× Alt+Shift+S
        td_as_qs: tap_dance_as_qs {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LA(LS(Q))>, <&kp LA(LS(W))>;
        };

        // Hold-tap: hold = Alt+Shift+W, tap = tap-dance above
        ht_as_w_td: hold_tap_as_w_td {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td_as_qs>;
        };

        // Tap-dance: 1× prev_win, 2× second_prev_win
        td_prev_sw: tap_dance_prev_win {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&prev_win>, <&second_prev_win>;
        };

        // Tap-dance: 1× win_alt_shift_comma, 2× win_alt_shift_n
        td_was_comma_n: tap_dance_was_comma_n {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&win_alt_shift_comma>, <&win_alt_shift_n>;
        };

        // Hold-tap: hold = win_z_4, tap = prev/second_prev tap-dance
        ht_wz4_prev_td: hold_tap_wz4_prev {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&win_z_4>, <&td_prev_sw>;
        };

        // Hold-tap: hold = win_z_4, tap = was_comma/n tap-dance
        ht_wz4_was_td: hold_tap_wz4_was {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&win_z_4>, <&td_was_comma_n>;
        };

        // Tap-dance: 1× Ctrl+Alt+B, 2× Ctrl+Alt+V
        td_ctrl_alt_bv: tap_dance_ctrl_alt_bv {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LC(LA(B))>, <&kp LC(LA(V))>;
        };

        // Hold-tap: hold = Win+Alt+Shift+1, tap = Ctrl+Alt+B/V tap-dance
        ht_was1_cabv_td: hold_tap_was1_cabv {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td_ctrl_alt_bv>;   // keycode supplied inline in keymap
        };

        // Tap-dance: 1× context-menu, 2× select-all-cut
        td_ctx_sa_cut: tap_dance_ctx_sa_cut {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp K_CONTEXT_MENU>, <&select_all_cut>;
        };

        // Hold-tap: hold = LG(LS(E)), tap = td_ctx_sa_cut
        ht_lghome_ctx_td: hold_tap_lghome_ctx {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td_ctx_sa_cut>;
        };

        // Tap-dance: 1× Win+Alt+Shift+J, 2× Select-All-Copy
        td_ps_sa_copy: tap_dance_ps_sa_copy {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LG(LA(LS(J)))>, <&select_all_copy>;
        };

        // Hold-tap: hold = lg_home_alt_tab_ctrl_home, tap = td_ps_sa_copy
        ht_lgshfte_ps_td: hold_tap_lgshfte_ps {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&lg_home_alt_tab_ctrl_home>, <&td_ps_sa_copy>;
        };

        // Hold-tap: Shift+Home vs Ctrl+Shift+Home
        mt_cshome: modtap_cshome {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>; // use inline params
        };

        // Hold-tap: Shift+End vs Ctrl+Shift+End
        mt_csend: modtap_csend {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // Hold-tap: Ctrl+Key when held, Key when tapped (generic)
        mt_ctrl: modtap_ctrl_generic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        // Hold-tap macro versions
        ht_cshome_del: hold_tap_cshome_del {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&ctrl_shift_home_del>, <&shift_home_del>;
        };

        ht_csend_del: hold_tap_csend_del {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&ctrl_shift_end_del>, <&shift_end_del>;
        };

        // Hold-tap: hold = Win+Alt+Shift+6, tap = Alt+F4
        ht_was6_altf4: hold_tap_was6_altf4 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;   // keys supplied inline in keymap
        };

        // Complex sequence: LG(HOME) -> hold Alt+Tab -> LC(HOME) -> release all
        lg_home_alt_tab_ctrl_home: lg_home_alt_tab_ctrl_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "LG_HOME_ALT_TAB_CTRL_HOME";
            wait-ms = <50>;
            tap-ms = <50>;
            bindings = 
                <&macro_tap &kp LG(HOME)>,
                <&macro_wait_time 100>,
                <&macro_press &kp LALT>,
                <&macro_tap &kp TAB>,
                <&macro_wait_time 50>,
                <&macro_tap &kp LC(HOME)>,
                <&macro_wait_time 50>,
                <&macro_release &kp LALT>;
        };

        // Tap-dance: 1× Windows + Alt + Shift + U, 2× Windows + H
        td_win_win_h: tap_dance_win_win_h {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LG(LA(LS(U)))>, <&kp LG(H)>;
        };

        // Hold-tap: hold = layer 2, tap = Windows tap-dance
        ht_mo2_win_td: hold_tap_mo2_win {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&td_win_win_h>;
        };

        // Tap-dance: 1× Enter, 2× Windows + Alt + Shift + U
        td_enter_was_u: tap_dance_enter_was_u {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp ENTER>, <&kp LG(LA(LS(U)))>;
        };

        // Hold-tap: hold = layer 2, tap = Enter/Windows+Alt+Shift+U tap-dance
        ht_mo2_enter_was_u: hold_tap_mo2_enter_was_u {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&td_enter_was_u>;
        };

        // Tap-dance: 1× minimize window, 2× maximize window
        td_maximize_minimize: tap_dance_maximize_minimize {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LG(LA(LS(N6)))>, <&kp LG(LA(LS(M)))>;
        };

        // Hold-tap: hold = close window (Alt+F4), tap = maximize/minimize tap-dance
        ht_close_window_td: hold_tap_close_window {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&td_maximize_minimize>;
        };

    };

    // Commented out - scroll encoder depends on &msc behavior which is not available
    // scroll_encoder: scroll_encoder {
    //     compatible = "zmk,behavior-sensor-rotate";
    //     #sensor-binding-cells = <0>;
    //     bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
    //     tap-ms = <100>;
    // };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC     &kp N1     &kp N2        &kp N3        &kp N4  &kp N5       &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9           &kp N0      &kp BACKSPACE
&kp TAB     &kp Q      &kp W         &kp E         &kp R   &kp T        &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O            &kp P       &ht_as_w_td LA(LS(S)) 0
&kp CAPS    &kp A      &kp S         &kp D         &kp F   &kp G        &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L            &ht_n0_td LG(LA(LS(N7))) 0    &ht_was1_cabv_td LG(LA(LS(N1))) 0
&kp LSHFT   &kp Z      &kp X         &kp C         &kp V   &kp B        &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT          &ht_close_window_td LA(F4) 0    &kp ENTER
&kp C_PLAY_PAUSE  &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &kp SPACE   &mo 1    &trans        &ht_mo2_enter_was_u 2 0  &kp LG( LA( LEFT_SHIFT ) )  &ht_lgshfte_ps_td 0 0      &ht_lghome_ctx_td LG(LS(E)) 0  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
        }; 

        layer_1 {
            bindings = <
&kp F11   &kp F1           &kp F2          &kp F3           &kp F4           &kp F5             &trans     &kp F6           &kp F7           &kp F8      &kp F9     &kp F10           &kp F12
&prev_win      &second_prev_win        &trans       &win_z_4        &win_z_5        &win_z_6           &trans   &trans        &mmv MOVE_UP          &kp RIGHT_BRACKET      &kp FSLH   &kp SEMI         &kp LC(LA(W))
&trans      &caw_q        &caw_w          &caw_e           &caw_r           &win_z_7           &trans   &mmv MOVE_LEFT        &mmv MOVE_DOWN         &mmv MOVE_RIGHT    &kp MINUS  &kp EQUAL  &kp APOS
&kp LSHFT      &caw_a  &caw_s  &caw_d  &caw_f  &win_z_8    &trans  &kp TILDE  &kp GRAVE  &kp KP_DIVIDE  &kp LS(EQUAL)    &kp LS(MINUS)           &kp LEFT_BRACKET
&kp C_MUTE  &kp LCTRL           &trans          &kp LEFT_ALT     &trans           &trans             &trans        &kp LS(FSLH)  &kp LS(APOS) &kp LS(LEFT_BRACKET)      &kp NON_US_BACKSLASH     &kp LA(LS(S))
            >;

            display-name = "layer1";
            sensor-bindings = <&inc_dec_kp LC(LS(EQUAL)) LC(MINUS)>;
        };

        layer_2 {
            bindings = <
&ht_was6_altf4 LG(LA(LS(N6))) LA(F4)  &bt BT_SEL 0  &bt BT_SEL 3    &bt BT_SEL 2  &kp LG(HOME)  &kp LG(LS(E))    &morph_up     &mt_cshome LC(LS(HOME)) LS(HOME)  &mt_csend LC(LS(END)) LS(END)  &ht_cshome_del 0 0  &ht_csend_del 0 0     &mt_ctrl LC(HOME) HOME      &mt_ctrl LC(END) END
&trans      &trans    &trans  &trans        &trans        &kp LG(DOT)          &morph_down   &kp LA(PRINTSCREEN)  &kp UP_ARROW  &kp PG_UP      &kp PG_DN      &mt_ctrl LC(LS(PG_UP)) LC(PG_UP)    &mt_ctrl LC(LS(PG_DN)) LC(PG_DN)
&trans     &trans  &trans    &trans        &kp LC(LS(V))        &trans          &morph_left   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW      &trans     &trans     &trans
&trans     &trans    &trans          &trans   &kp LC(LA(V))        &kp LC(LA(B))          &morph_right  &trans  &trans  &trans  &trans  &kp LG(LA(LS(N4)))  &kp LG(LA(LS(N5)))
&bt BT_CLR     &kp LCTRL        &trans          &trans        &trans        &trans          &trans        &trans  &trans  &trans      &trans     &select_all_del
            >;

            // Commented out - scroll_encoder is not available (depends on &msc which is not in this ZMK version)
            // sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};