name: Build ZMK firmware
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "keymap-drawer/**"

jobs:
  build:
    # TEMPORARY: Using 'main' to fix immediate workflow error
    # TODO: Find a valid commit hash from before Dec 9, 2024 (before Zephyr 4.1)
    # Steps:
    # 1. Go to https://github.com/zmkfirmware/zmk/commits/main
    # 2. Find a commit from Dec 1-8, 2024
    # 3. Click the commit and copy the FULL commit hash (40 characters, e.g., "a1b2c3d4e5f6...")
    # 4. Replace 'main' below with that full commit hash
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@0820991901a95ab7a0eb1f1cc608a631d514e26c
